@use "./global";
@use "./pages/login";
@use "./pages/dashboard";
@use "./components/donuts";
@use "./components/loginForm";
@use "./components/sidebar";
@use "./components/pagination";
@use "./components/UI/btn";
@use "./components/UI/modal";
