@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

// ------ Global ------
* {
  box-sizing: border-box;
}

// ------ Colors ------
$color-primary: #e72c70;
$color-secondary: #82d1e4;
$color-accent: #f7f249;
$color-white: #ffffff;
$color-black: #181818;
$color-gray: #7b7b7b;
$color-light-gray: #dadada;

$color-error: #da1e28;
$color-success: #198038;
$color-warning: #f1c21b;
$color-info: #0f62fe;

// ------ Media Queries ------
$breakpoint-xl: 2000px;
$breakpoint-big: 1600px;
$breakpoint-medium: 1080px;
$breakpoint-tablet: 820px;
$breakpoint-mobile: 550px;

// ------ CSS Reset ------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $color-black;
}

// ------ Typo -------
h1 {
  font-family: "Dosis", sans-serif;
  font-weight: Bold;
  font-size: 3.1rem;
  margin-bottom: 2rem;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-weight: Bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}

h4 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $color-black;
}

// ------ Layout ------
.wrapper {
  padding-bottom: 0;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
  }

  .wrapper__content {
    width: 85%;
    height: 100vh;

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }
}

.section__margin {
  margin: 2rem;

  @media (min-width: $breakpoint-tablet) {
    margin: 4rem;
  }

  @media (min-width: $breakpoint-xl) {
    margin: 6rem;
  }
}

.section__padding {
  padding: 2rem;

  @media (min-width: $breakpoint-tablet) {
    padding: 4rem;
  }

  @media (min-width: $breakpoint-xl) {
    padding: 6rem;
  }
}
