@use "../global";

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;

  // small screen
  @media (max-width: global.$breakpoint-tablet) {
    flex-direction: column;
    justify-content: center;
  }

  .login__hero {
    width: 50%;
    height: 100vh;
    background-color: global.$color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: global.$color-white;

    @media (max-width: global.$breakpoint-tablet) {
      display: none;
    }

    h1 {
      font-size: 4rem;
    }
  }

  .login__form {
    width: 20%;
    margin: 0 auto;

    @media (max-width: global.$breakpoint-tablet) {
      width: 100%;
      padding: 2rem;
    }

    .login__form__loader {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .login__form__title {
      margin-bottom: 3rem;
    }
  }
}