@use "../global";

.form__group--small,
.form__error--settings,
.btn__logout {
  width: 30%;

  @media screen and (max-width: global.$breakpoint-big) {
    width: 50%;
  }

  @media screen and (max-width: global.$breakpoint-tablet) {
    width: 100%;
  }
}

.btn__logout {
  @media screen and (max-width: global.$breakpoint-tablet) {
    margin-top: 1rem;
  }
}
