@use "../global";

.dashboard__content__donuts__donut {
  border-radius: 18px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  height: 100%;
  padding: 0 1rem;

  &:hover {
    box-shadow: rgb(231, 44, 112, 0.6) 0px 0px 60px;
  }

  .dashboard__content__donuts__donut__image {
    height: 65%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px 16px 0 0;
    }
  }

  .dashboard__content__donuts__donut__info {
    height: 35%;
    padding-left: 1rem;

    p {
      color: global.$color-gray;
    }
  }
}
