@use "../global";

.navigation {
  background-color: global.$color-primary;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media screen and (min-width: global.$breakpoint-tablet) {
    display: none;
  }
}

.menu-bars {
  margin-left: 24px;
  font-size: 2rem;
  background: none;
  color: #fff;
}

@media screen and (min-width: global.$breakpoint-tablet) {
  .menu__bars--close {
    display: none;
  }
}

.nav-menu {
  background-color: global.$color-primary;
  height: 100vh;
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;

  @media screen and (min-width: global.$breakpoint-tablet) {
    display: block;
    position: relative;
    left: 0;
    width: 15%;
  }

  .logo {
    width: 70%;

    @media screen and (max-width: global.$breakpoint-tablet) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    padding-left: 16px;
    list-style: none;

    a {
      text-decoration: none;
      color: global.$color-white;
      font-family: "Dosis", sans-serif;
      font-size: 1.4rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 16px 0 16px 16px;
      border-radius: 40px 0 0 40px;

      &:hover {
        background-color: global.$color-white;
        color: global.$color-primary;
      }

      &.active {
        background-color: global.$color-white;
        color: global.$color-primary;
      }
    }

    span {
      margin-left: 16px;
    }
  }

  .nav-menu-items {
    width: 100%;
    z-index: 1;

    @media screen and (min-width: global.$breakpoint-tablet) {
      height: 85%;
    }

    .navbar-toggle {
      background-color: global.$color-primary;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media screen and (min-width: global.$breakpoint-tablet) {
        display: none;
      }
    }

    .nav__links__wrapper {
      height: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
  z-index: 1;
}