@use "../../global";

.btn {
  padding: 12px 40px;
  border-radius: 50px;
  border: none;
  background-color: global.$color-primary;
  color: global.$color-accent;
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: global.$color-secondary;
    color: global.$color-primary;
  }

  // tablet screen
  @media screen and (max-width: global.$breakpoint-tablet) {
    width: 100%;
  }
}

.btn--active {
  background-color: global.$color-secondary;
}

.btn--inactive {
  background-color: global.$color-gray;
}

.btn--secondary {
  background-color: transparent;
  border: 2px solid global.$color-primary;
  color: global.$color-primary;

  &:hover {
    background-color: global.$color-secondary;
    border: 2px solid global.$color-secondary;
  }
}

.btn--small {
  padding: 12px;
  font-size: 1rem;
}

.form__btn {
  width: 100%;
}