@use "../../global";

.btn {
  padding: 20px 40px;
  border-radius: 50px;
  border: none;
  background-color: global.$color-primary;
  color: global.$color-accent;
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.btn--active {
  background-color: global.$color-secondary;
}

.btn--inactive {
  background-color: global.$color-gray;
}

.form__btn {
  width: 100%;
}
