@use "../../global";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fff;
  border: none;
  box-shadow: 24px;
  padding: 2rem 3rem;
  outline: 0;
  border-radius: 16px;

  span {
    color: global.$color-gray;
    font-size: 0.8rem;
  }

  .modal__content {
    display: flex;
    justify-content: space-between;

    .modal__content__header {
      width: 40%;

      .modal__content__image {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .modal__content__data {
      width: 50%;

      .modal__content__data__order {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        .modal__content__data__order__date,
        .modal__content__data__order__quantity {
          width: 50%;
        }
      }

      .modal__content__data__email,
      .modal__content__data__status__current,
      .modal__content__data__extra {
        margin-bottom: 1rem;
      }

      .modal__content__data__status {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .modal__content__data__status__current,
        .modal__content__data__status__edit {
          width: 50%;

          .modal__content__data__status__edit__select {
            select {
              width: 100%;
              border: 1px solid global.$color-gray;
              border-radius: 5px;
              padding: 0.2rem;
              background-color: global.$color-white;
              cursor: pointer;
            }
          }
        }
      }

      .modal__content__data__status__confirm__btn {
        background-color: global.$color-primary;
        border: none;
        border-radius: 50px;
        height: 75%;
        padding: 0 0.7rem;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        // hover
        &:hover {
          background-color: global.$color-secondary;
        }

        .modal__content__data__status__confirm__btn__icon {
          color: global.$color-white;
          font-size: 1.4rem;
        }
      }
    }
  }
}

.modal__buttons {
  display: flex;
  justify-content: space-between;

  .modal__buttons__button {
    width: 48%;
  }

  .modal__buttons__button--link {
    text-align: center;
  }
}
