@use "../../global";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fff;
  border: none;
  box-shadow: 24px;
  padding: 2rem 3rem;
  outline: 0;
  border-radius: 16px;

  span {
    color: global.$color-gray;
    font-size: 0.8rem;
  }

  .modal__content {
    display: flex;
    justify-content: space-between;

    .modal__content__header {
      width: 40%;

      .modal__content__image {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .modal__content__data {
      width: 50%;

      .modal__content__data__order {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        .modal__content__data__order__date,
        .modal__content__data__order__quantity {
          width: 50%;
        }
      }

      .modal__content__data__email,
      .modal__content__data__status__current,
      .modal__content__data__extra {
        margin-bottom: 1rem;
      }

      .modal__content__data__status__edit {
        display: flex;
        justify-content: space-between;

        .modal__content__data__status__edit__select {
          width: 50%;
        }
      }

      .modal__content__data__status__current {
        span {
          display: block;
        }
      }
    }
  }
}

.modal__buttons {
  display: flex;
  justify-content: space-between;

  .modal__buttons__button {
    width: 48%;
  }

  .modal__buttons__button--link {
    text-align: center;
  }
}
